<div id="question_{{questionIndex}}" class="form__row">
    <div class="form__column form__input-group">
        <label for="questions[{{questionIndex}}][question]" class="form__label">Vraag</label>
        <input id="questions[{{questionIndex}}][question]" name="questions[{{questionIndex}}][question]" type="text" class="form__input"
               placeholder="Bijv. Wat is 5 + 5" value="{{parent.question}}">
    </div>
    <div class="form__column form__input-group">
        <label for="questions[{{questionIndex}}][answer]" class="form__label">Antwoord</label>
        <input id="questions[{{questionIndex}}][answer]" name="questions[{{questionIndex}}][answer]" type="text" class="form__input"
               placeholder="Bijv. 10" value="{{parent.answer}}">
    </div>
    <div class="form__column form__input-group">
        <button class="button button--no-padding-left-right form__button-delete" value="{{questionIndex}}">
            <img src="/images/remove.svg" alt="remove" class="button__image">
        </button>
    </div>
</div>