<article class="lists">
    <section class="content__row">
        <header>
            <h1>
                Jouw overhoorlijsten
            </h1>
        </header>
    </section>

    <section class="content__row">
        <a id="add_list_btn" class="button button--gold content__row" href="lijsten/toevoegen">
            <img class="button__image button__image--margin-right" src="/images/plus.svg" alt="lijst toevoegen">
            Lijst toevoegen
        </a>
        <table class="table" id="table">
            <tr class="table__heading">
                <th class="table__item">Lijstnaam</th>
                <th class="table__item">Lijst code</th>
                <th class="table__item">Vakterm</th>
                <th class="table__item">Instellingen</th>
            </tr>
            {{#each this.lists}}
                <tr id="row_{{this._id}}">
                    <td class="table__item">{{this.name}}</td>
                    <td class="table__item">{{this.listCode}}</td>
                    <td class="table__item">{{this.subject}}</td>
                    <td class="table__item table__item--last">
                        <button class="button__delete" value="{{this._id}}" data-dataname="{{this.name}}" type="button"
                                name="button">
                            <img class="button__image" src="./images/waste-bin.svg" alt="">
                        </button>
                        <a href="/lijsten/{{this._id}}">
                            <img class="table__icon" src="./images/cog.svg" alt="">
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </section>
</article>

<script type="text/javascript" src="/js/list_delete.bundle.js"></script>
